/* ================================================== ADD BUTTON == */

.add-button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    position: absolute;
    bottom: 6rem;
    right: 2rem;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

/* ================================================== DELETE BUTTON == */

.delete-button{
    background-color: #d007ef;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    position: absolute;
    bottom: 2rem;
    right: 2rem;
}